@charset "utf-8";

body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:bold;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
a:link, a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:underline;
}


/* common */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200,300,400,500,600,700,800,900|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Gothic A1', sans-serif; */
html {overflow-x: hidden; scrollbar-width: 15px}
body {font-family:'Gothic A1',sans-serif;}
img {vertical-align: top;}
a:hover {text-decoration-line: none}


/* main page */
.wrap {border:px solid black;}

/* 헤더 시작 */


.wrap > header {
	border:px solid red;background-color:white; padding:22px 0px 20px 0px;  
	position:fixed; top:0; left:0; width:100%; z-index:100; }
.wrap > header > h1 {border:px solid blue; float: left; margin-left:63px;}
.wrap > header > h1 > a {border:px solid green; display:block}
.wrap > header > h1 > a > img {border:px solid black;  vertical-align: top}

.wrap > header > .header_menu {border:1px solid black; font-size:0;  text-align:center; position:absolute; top:15px; right:0; left:0;  
	
}



.wrap > header > .header_menu > .header_menu_btns { border:1px solid red; margin:0 auto; display:inline-block}
/* .wrap > header > .header_menu > .header_menu_btns > .header_menu_etc {border:1px solid blue} */
.wrap > header > .header_menu > div > div {border:1px solid gray; display:inline-block; padding:15px 0; margin-top:-15px}
.wrap > header > .header_menu > div > div > a {border:px solid red; padding:15px 15px; display:block; color:black;font-size:16px;}
.wrap > header > .header_menu > div > div.since {margin:0;}
.wrap > header > .header_menu > div > div.since > a {padding:0; }
.wrap > header > .header_menu > div > div:nth-child(4) > a {color:orange;}
.wrap > header > .header_menu > div > div.search {border:px solid black; vertical-align:top; }
.wrap > header > .header_menu > div > div.search > a {padding:0}
.wrap > header > .header_menu > div > div.search > a > img {border:px solid orange}


.wrap > header > .header_menu_shop {border:px solid blue; overflow:hidden; float:right; margin-right:63px; position:relative; z-index:100;}
.wrap > header > .header_menu_shop > li {border:px solid yellow; float:left;}
.wrap > header > .header_menu_shop > li > a {border:px solid red; display:block; margin-right:20px; transition:all 0.3s ease}
.wrap > header > .header_menu_shop > li:last-child > a { margin:0 0 0 15px;}
.wrap > header > .header_menu_shop > li > a > img {border:px solid green; vertical-align:top}
.wrap > header > .header_menu_shop > li:last-child { background:url('../images/header_line.gif') no-repeat 0 50%; }

.wrap > header > .header_menu > li > a:hover .men_sub  {display:block; border:1px solid black; z-index:200; transition:all 0.5s ease}

	/* 서브메뉴 시작 */
	/* .wrap > header > .header_menu > .sub_men {display:none;} */
	.wrap > header > .header_menu > .header_menu_btns > div > .sub {
		width:100%; height:0px; background-color:white; position:absolute; right:0; left:0;  z-index:300;
		transition:0.7s ease 0.3s;
	}
	.wrap > header > .header_menu > .header_menu_btns > div > .sub_men {border:px solid black; opacity:0;
		position:absolute; top:85px; left:0; transition:0.3s ease;		
	}
	.wrap > header > .header_menu > .header_menu_btns > div > .sub_men > ul {border:px solid red; float:left; text-align: left; width:20%;}
	.wrap > header > .header_menu > .header_menu_btns > div > .sub_men > ul > h5 {font-size:10px; font-weight: 300;}
	.wrap > header > .header_menu > .header_menu_btns > div > .sub_men > ul > li > a {font-size:13px;}


	.wrap > header > .header_menu > .header_menu_btns > div.on > .sub {margin-top:15px; height:350px;  transition:0.5s ease;}
	.wrap > header > .header_menu > .header_menu_btns > div.on  > .sub_men { transition:0.5s ease 0.3s; padding:63px; opacity:1;}


	/* 서브메뉴 끝 */

/* 헤더 끝 */

/* 작은 헤더 시작 */
.wrap > .header_small {display:none; border:px solid red; text-align: center; padding:10px; }

.wrap > .header_small > h2 {border:px solid black;  }
.wrap > .header_small > h2 > a {border:px solid lime;}
.wrap > .header_small > h2 > a > img {border:px solid blue; }

.wrap > .header_small > .white {opacity:0; visibility: hidden; position:fixed; top:63px; left:0; bottom:0; right:0px; background-color:white; transition:all 0.2s ease;}
.wrap > .header_small > .white > textarea {
	width:calc(90% - 80px); font-size:32px; margin:0 40px; border:none; box-direction: none;
}
.white > textarea::placeholder { color:rgb(196, 196, 196);}
.wrap > .header_small > .white > a {border:1px solid red; display:block; float:right; margin:10px 10px 0 0;}
.wrap > .header_small > .white.on {opacity: 1; visibility: visible; transition:all 0.5s ease;}

.wrap > .header_small > .search_small {border:px solid red; position:absolute; top:12px; left:40px;}
.wrap > .header_small > div {position:absolute; top:12px; right:45px;}
.wrap > .header_small > div > .header_sub_shop {margin-right:15px;}

.wrap > .header_small > div > .header_sub_menu_sub {
	margin-left:100%;
	/* <<<<<<< HEAD */position:fixed; top:0; left:0; bottom:0; right:0; background-color:white; padding:20px 0 60px;
}
.wrap > .header_small > div > .header_sub_menu_sub.on {margin:0; transition:all 0.4s ease;}
.wrap > .header_small > div > .header_sub_menu_sub > * { padding:0 170px;}
.wrap > .header_small > div > .header_sub_menu_sub > span {border-bottom:1px solid rgb(233, 233, 233); display:block; font-size:15px; text-align: left; overflow:hidden; padding:0 0 10px 0; margin:0 60px 10px 60px;}
.wrap > .header_small > div > .header_sub_menu_sub > span > a { display:block; float:right; margin-top:-10px}
.wrap > .header_small > div > .header_sub_menu_sub.on > span {position:fixed; right:0; left:0;}

.wrap > .header_small > div > .header_sub_menu_sub > .main_menu { margin-top: 54px;}
.wrap > .header_small > div > .header_sub_menu_sub > .main_menu > div { font-size:22px; text-align: left; text-decoration-style: none}
.wrap > .header_small > div > .header_sub_menu_sub > .main_menu > div > a {padding:11px 0; display:block; color:black;}
.wrap > .header_small > div > .header_sub_menu_sub > .main_menu > div:nth-child(4) > a {color:rgb(214, 175, 103)}


.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu {background-color:rgb(242, 242, 242); padding:20px 170px; font-size:0}
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > span {display:block; font-size:10px; text-align: left; }
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div { overflow:hidden;}
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div > a {display:block; float:left;
	border:1px solid rgb(159, 159, 159); background-color: white; font-size:16px; padding:10px 28px; border-radius:50px; margin:15px 15px 0 0;
	color:black; transition:all 0.3s ease
}
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div > a:last-child { margin-right:0;}
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div > a:hover { background-color:black; color:white; transition:all 0.5s ease}


.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu {padding:0; }
.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu > div {padding:0 60px; border-bottom:1px solid rgb(232, 232, 232);}
.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu > div > a { display:block; padding:15px 0; text-align: left; font-size:13px;}
.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu > div > a > img { vertical-align:middle; width:33px; padding-right:20px}
.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu > div:last-child > a > img {margin-top:-20px; padding-bottom:20px;}



/* =======
	border:1px solid red; position:fixed; top:0; left:0; bottom:0; right:0; background-color:white; padding:20px 0;
}
.wrap > .header_small > div > .header_sub_menu_sub.on {margin:0; transition:all 0.4s ease;}
.wrap > .header_small > div > .header_sub_menu_sub > * {border:1px solid blue; padding:0 170px;}
.wrap > .header_small > div > .header_sub_menu_sub > span {border-bottom:1px solid gray; display:block; font-size:15px; text-align: left; overflow:hidden; padding-bottom:10px;}
.wrap > .header_small > div > .header_sub_menu_sub > span > a {border:px solid red; display:block; float:right; margin-top:-10px}

.wrap > .header_small > div > .header_sub_menu_sub > .main_menu > div {border:1px solid green; font-size:22px; text-align: left;}
.wrap > .header_small > div > .header_sub_menu_sub > .main_menu > div > a {padding:10px 0; display:block;}

.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu {background-color:rgb(242, 242, 242); padding:20px 170px; font-size:0}
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > span {display:block; font-size:10px; text-align: left; padding-bottom:15px; }
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div {border:1px solid black; overflow:hidden;}
.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div > a {display:block; float:left;
	border:1px solid rgb(159, 159, 159); background-color: white; font-size:17px; padding:12px 27px; border-radius:50px; 
}
.thema_menu > div > a + a {margin-left:15px}

.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu > div {border:1px solid black;}
.wrap > .header_small > div > .header_sub_menu_sub > .etc_menu > div > a {border:1px solid red}
>>>>>>> 47566d05d50d3ea62a19e7b1cee04958ce75514a */

/* 작은 헤더 끝 */


/* 메인 시작 */
.wrap > main { border:px solid black; width:100%; margin-top:63px;}
.wrap > main > .visual.small {display:none;}
.wrap > main > .visual {border:px solid red; display:block; position:relative;}
.wrap > main > .visual > img {border:px solid black; vertical-align:top; width:100%}
.wrap > main > .visual > .text {border:px solid blue; position:absolute; left:0; top:40%; 
	font-family:'Gothic A1',sans-serif;color:white; margin-left:3.859857% /* 65/1684 */;}
.wrap > main > .visual > .text > h2 {border:px solid green; font-size:36px;  }
.wrap > main > .visual > .text > a {border:0.5px solid white; border-radius: 30px; color:white; font-size:15px ; font-weight:400;
	margin-top:20px; background-color:rgba(235, 235, 235, 0.1); display:inline-block; padding:12px 30px 12px 30px; transition:all 0.3s ease}
.wrap > main > .visual > .text > a:hover {background-color:white; color:black; transition:all 0.5s ease}
.wrap > main > .subvisual {margin-top:101px;}

.wrap > main > h3 {
	border:px solid black; margin:125px 0 20px 0;  font-size:25px; font-family:'Gothic A1',sans-serif; 
	font-weight: 400; color:black; padding-left:65px;}

.wrap > main > .newarrivals {border:px solid gray; overflow:hidden;}
.wrap > main > .newarrivals > li {border:px solid green; 
	width:23.990499% ;/* 404/1684*/ float:left; }
.wrap > main > .newarrivals > li + li {margin-left:4.038005% /* 68/1684 */;}
.wrap > main > .newarrivals > li > a {border:px solid blue; display:block; transition:all 0.3s ease}
.wrap > main > .newarrivals > li > a > img { border:px solid red; width:100%; vertical-align: top;}
.wrap > main > .newarrivals > li > a > div {background-color:rgb(244, 244, 244); position: relative; border:px solid green; height:70px /* 70/1684 */}
.wrap > main > .newarrivals > li > a > div > strong {
	position:absolute; top:50%; left:0; width:74.257426%;/* 300/404 */ transform: translateY(-50%); 
	padding-left:25px; border:px solid lime;  font-size:22px; font-weight:400; color:black}
.wrap > main > .newarrivals > li > a > div > img {
	position: absolute; right:10px; top:10px; border:1px solid rgb(180, 180, 180); border-radius: 30px;
	background-color:white;
}
.wrap > main > .newarrivals > li > a:hover > div > img {background-color:black; border-color:black; transition:all 0.5s ease}




.wrap > main > .collection {border:px solid red; width:100%; overflow:hidden; position:relative;}
.wrap > main > .collection > a {border:px solid lime; display:block; width:55.997625%; float:left;}
.wrap > main > .collection > a > img {vertical-align:top; width:100%; /* 943/1684 */ }
.wrap > main > .collection > div {border:px solid blue; 
	width:35.985748%;/* 741/1684 */ padding-left:8.016627%;
	position:absolute; top:50%; left:55.997625%;
	transform:translateY(-50%);
}
.wrap > main > .collection > div > h3 {color:black; font-size:40px; width:40.48583%;/* 300/741 */ font-weight:900; }
.wrap > main > .collection > div > a {
	border:px solid yellow; display:inline-block; margin-top:30px; font-size:16px;
	width:140px; padding:13px 0; text-align: center; border-radius: 30px; color:white;
	background-color:rgb(212, 212, 212); transition:all 0.3s ease
}
.wrap > main > .collection > div > a:hover {background-color:white; color:black; transition:all 0.5s ease}

.wrap > main > .allproducts {border:px solid blue; margin:103px 67px; overflow:hidden;}
.wrap > main > .allproducts > .item {border:px solid lime; width:47.837314%; /* 741/1549 */; float:left; position:relative;}
.wrap > main > .allproducts > .item + .item { margin-left:4.325371%; /* 67/1549 */ margin-top:4.454487%; /* 69/1549 */; 
	display:block; 
}
.wrap > main > .allproducts > .item:nth-child(2) {margin-top:0;}
.wrap > main > .allproducts > .item:nth-child(3) {margin-left:0;}
.wrap > main > .allproducts > .item > a {color:black; transition:all 0.3s ease}
.wrap > main > .allproducts > .item:first-child > a {color:white;}
.wrap > main > .allproducts > .item > a > img {width:100%; vertical-align:top;}
.wrap > main > .allproducts > .item > a > div {border:px solid gray;  position:absolute; top:66.759388%; /*480/719 */ left:65px;}
.wrap > main > .allproducts > .item > a > div > strong { border:px solid blue; font-size:17px; font-weight:900;}
.wrap > main > .allproducts > .item > a > div > span { 
	border:1px solid rgb(193, 193, 193); background-color:rgba(100, 100, 100, 0.4); border-radius:50px; 
	font-size:13px; display:block; margin-top:12px; padding:9px 28px; color:white; border-color:white;}

.wrap > main > .allproducts > .item > a:hover > div > span {background-color:white; color:black; transition:all 0.5s ease}

.wrap > main > .polo {border:px solid red; width:100%; height:15.076363%;/* 1076/7137 */; display:block;  position:relative;}
.wrap > main > .polo > img {width:100%; vertical-align:top;}
.wrap > main > .polo > a {border:px solid blue; display:block; width:72.030879%; position:absolute; top:0; right:0;}
.wrap > main > .polo > a > img {border:px solid lime; width:100%; vertical-align:top;}
.wrap > main > .polo > div {border:px solid yellow; width:72.030879%; position:absolute;top:71.561338%;/* 777/1076 */ right:0; color:white;}
.wrap > main > .polo > div > h3 {font-size:40px;}
.wrap > main > .polo > div > span {border:px solid black; display:block; font-size:13px; line-height:50px;}
.wrap > main > .polo > div > a {
	background-color:white; border-radius:20px; display:inline-block; padding:11px 23px;font-size:15px; margin-right:20px;
	transition:all 0.3s ease
}
.wrap > main > .polo > div > a:hover {background-color:black; color:white; transition:all 0.5s ease}

.wrap > main > .delivery {border:px solid black; text-align: center; height:116px; font-size:0;padding:0 14.627078%;/* 280/1684 */  }
.wrap > main > .delivery > li {border:px solid green; display:inline-block; }
.wrap > main > .delivery > li + li {margin-left:21.940618%; /* 420/1684 */}
.wrap > main > .delivery > li > a {display:block; position:relative;}
.wrap > main > .delivery > li > a > img {border:px solid blue; vertical-align:top;}
.wrap > main > .delivery > li > a > span {
	border:px solid black; width:300%; margin-left:50%; position:absolute; bottom:0; top:100%; 
	padding-bottom:30px; font-size:13px; display:block; transform:translateX(-50%);
}


/* 메인 끝 */

/* 풋터 시작 */
.wrap > footer {border:px solid gray;}
.wrap > footer > .footer_gray {background-color:rgb(244, 244, 244); padding:65px 60px 67px 60px;position:relative;}
.wrap > footer > .footer_gray > .kakao {border:px solid lime;  width:23.752969%; /* 400/1684 */}
.wrap > footer > .footer_gray > .kakao > h4 { 
	border:px solid red; font-size:23px; font-weight: 400; color:black;  padding:13px 0 0 45px;  position:relative;}

.wrap > footer > .footer_gray > .kakao > h4 > img {width:40px; position:absolute; left:0; bottom:0;}
.wrap > footer > .footer_gray > .kakao > span {border:px solid purple; font-size:13px; margin-top:15px; display:block;}
.wrap > footer > .footer_gray > .kakao > a {
	border:px solid white; border-radius:30px; font-size:15px; color:white; 
	background-color:rgb(41, 41, 41); display:inline-block; margin-top:20px; padding:11px 30px;
}
.wrap > footer > .footer_gray > .kakao > a:hover {background-color:rgb(89, 89, 89); transition:all 0.5s ease}

.wrap > footer > .footer_gray > .store {border:px solid lime;  width:23.752969%; /* 400/1684 */ margin-top:20px; font-size:10px;}
.wrap > footer > .footer_gray > .store > p > strong {margin-right:5px;}

.wrap > footer > .footer_gray > .store > a {
	border:1px solid rgb(159, 159, 159); display:inline-block; margin-top:18px; padding:11px 0; width:100%; text-align: center;
	border-radius:30px; font-size:15px; color:black; background-color: white; transition:all 0.3s ease
}
.wrap > footer > .footer_gray > .store > a:hover {background-color:black; color:white; transition:all 0.5s ease}

.wrap > footer > .footer_gray > .footer_menu {border:px solid red; width:auto; overflow:hidden; position:absolute; top:65px; right:0px;}
.wrap > footer > .footer_gray > .footer_menu > ul  {border:px solid blue; float:left; margin-left:27px; width:25.270758% /* 280/1684 */}

.wrap > footer > .footer_gray > .footer_menu > ul > h5 {font-size:10px; margin-bottom:15px; font-weight: 800; letter-spacing: 2px; }
.wrap > footer > .footer_gray > .footer_menu > ul:last-child > li {font-size:11px; margin-top:15px;}
.wrap > footer > .footer_gray > .footer_menu > ul > li {border:px solid green; ; font-size:13px;}
.wrap > footer > .footer_gray > .footer_menu > ul > li + li {margin-top:10px;}
.wrap > footer > .footer_gray > .safety { 
	border-top:1px solid rgb(181, 181, 181); padding:70px 0 60px 0; text-align: center; margin-top:67px; position:absolute; left:0; bottom:0px; transform:translateY(100%);
	width:100%; background-color:rgb(244, 244, 244); display:block; font-size:13px;
}
.wrap > footer > .footer_gray > .safety > img {border:px solid red; vertical-align: top; margin:-2px 2px 0 0;}

.wrap > footer > .footer_white {
	background-color:white; border:px solid black; margin:215px 0 6.203474% 0; /* 100/806*/ padding:0 11.876485%;  
	font-size:12px; letter-spacing:1px; overflow:hidden; letter-spacing: -0.5px;
}

.wrap > footer > .footer_white > .corp_where {border:px solid red; float:left; }
.wrap > footer > .footer_white > .insurance {border:px solid blue; float:right; }

.wrap > footer > .footer_white_sub {border:px solid lime; overflow:hidden; padding:0 65px 35px 65px;}
.wrap > footer > .footer_white_sub > .site_menu { border:px solid green; font-size:0; float:left}
.wrap > footer > .footer_white_sub > .site_menu > li {
	border:px solid blue; display:inline-block; font-size:13px; padding:0 15px 0 16px;
	background:url('../images/header_line.gif') no-repeat 0 0;
}

.wrap > footer > .footer_white_sub > .site_menu > li:first-child {background:none; padding-left:0;}
.wrap > footer > .footer_white_sub > .site_menu > li > a {border:px solid red;}

.wrap > footer > .footer_white_sub > .language {border:px solid blue; float:right; height:22px; display:block;}
.wrap > footer > .footer_white_sub > .language > img {border:px solid red; vertical-align:top; width:20px; margin-right:10px;}
.wrap > footer > .footer_white_sub > .language > a {font-size:15px;}
/* 풋터 끝 */


/* 1190 이하 */
@media screen and (max-width:1190px) {
	.wrap > header {display:none;}
	.wrap > .header_small {display:block;}

	.wrap > main > .collection > a {width:100%}
	.wrap > main > .collection > div {left:0; top:71.972327%; /* 569/795 */ transform: translateY(0)}
	.wrap > main > .collection > div > h3 {color:black; font-size:30px; width:150%;/* 300/741 */ font-weight:900; letter-spacing:1.5px;  }
.wrap > main > .collection > div > a {
	border:1px solid rgb(201, 201, 201); display:inline-block; margin-top:22px; font-size:16px;
	width:135px; padding:11px 0; text-align: center; border-radius: 30px; color:white;
	background-color:rgba(55, 55, 55, 0.3)}

	.wrap > main > .allproducts {border:px solid blue; margin:68px 0px; overflow:hidden;}
	.wrap > main > .allproducts > .item {border:px solid lime; width:100%; /* 741/1549 */;  position:relative;}
	.wrap > main > .allproducts > .item + .item { margin-left:0%; /* 67/1549 */ margin-top:4.196256%; /* 65/1549 */; 
		display:block; 
	}
	.wrap > main > .allproducts > .item > a > div {border:px solid gray;  position:absolute; top:82.828283%; /*902/1089 */ left:7.575758%; /* 85/1122 */}
.wrap > main > .allproducts > .item > a > div > strong { border:px solid blue; font-size:20px; font-weight:900;}
.wrap > main > .allproducts > .item > a > div > span { 
	border:1px solid rgb(193, 193, 193); background-color:rgba(100, 100, 100, 0.4); border-radius:50px; 
	font-size:16px; display:block; margin-top:12px; padding:12px 32px; color:white; border-color:white; transition:all 0.3s ease}

.wrap > main > .allproducts > .item > a:hover > div > span {background-color:white; color:black; transition:all 0.5s ease}
.wrap > main > .polo > div > h3 {font-size:30px;}

.wrap > footer > .footer_gray > .kakao {width:36.096257%}
.wrap > footer > .footer_gray {background-color:rgb(244, 244, 244); padding:65px 88px 67px 88px;}
.wrap > footer > .footer_gray > .store {display:none;}

.wrap > footer > .footer_gray > .footer_menu {right:px; width:auto;}
.wrap > footer > .footer_gray > .footer_menu > ul:last-child {display:none;}
.wrap > footer > .footer_gray > .footer_menu > ul { width:260px;}

.wrap > footer > .footer_white {padding:0 7.575758%;}
.wrap > footer > .footer_white > .corp_where {border:px solid red; float:left; width:45.454545% /* 510/1122 */}
.wrap > footer > .footer_white > .insurance {border:px solid blue; float:left; margin-left:5.901961%  ;width:40.106952% /* 450/1122 */}

}

/* 800 이하 */
@media screen and (max-width:800px) {
	.wrap > main > .visual {display:none;}
	.wrap > main > .visual.small {display:block;}
	.wrap > main > .visual > .text {border:px solid blue; position:absolute; left:0; top:48.082097%; 
		font-family:'Gothic A1',sans-serif;color:white; margin-left:7.865169% /* 56/712 */;}
	.wrap > main > .mainvisual  > .text > h2 {display:none;}	
.wrap > main > .visual > .text > a {border:0.5px solid white; border-radius: 30px; color:white; font-size:17px ; font-weight:400;
	margin-top:20px; background-color:rgba(235, 235, 235, 0.1); display:inline-block; padding:11px 32px;}
	.wrap > main > .subvisual > .text {top:35%}



}

/* 769 이하 */
@media screen and (max-width:769px){
	
	.wrap > .header_small > div > .header_sub_menu_sub > * {padding:0 60px;}
	.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu {padding:30px 60px;width:100%;overflow-x:scroll; position:relative}
	/* .wrap > .header_small > div > .header_sub_menu_sub > .thema_menu {}*/
	.wrap > .header_small > div > .header_sub_menu_sub > .thema_menu > div {width:700px; white-space:nowrap; overflow-x:auto} 
	.wrap > .header_small > div > .header_sub_menu_sub.on > .thema_menu::after {
		 width:50px; height:129px; content:''; background-color: black; position: fixed; top:324px; right:0;
		transition:all 0.4s ease 0.5s; background:linear-gradient(to left, #f4f4f4, rgba(255,255,255,0)); pointer-events: none;
	}

	.wrap > main > .visual {display:none;}
	.wrap > main > .visual.small {display:block;}
	.wrap > main > .visual  > .text > h2 {display:block; font-size:25px;}
	.wrap > main > .visual > .text {top:84.586466%; /* 900/1064 */ margin-left:50%; transform: translateX(-50%);}
	.wrap > main > .visual > .text > a { margin-left:50%; transform: translateX(-50%);
		 background-color:rgba(235, 235, 235, 0.1); display:inline-block; padding:12px 30px;}
	.wrap > main > .subvisual > .text {top:6.103286% /* 60/1065 */}
	.wrap > main > .subvisual > .text > a {width:auto; }

	.wrap > main > .collection > div {left:0; top:69.972327%; /* */ transform: translateY(0)}
	.wrap > main > .collection > div > h3 {
		color:black; font-size:20px; width:200%;/* 300/741 */ font-weight:900;
	 }
	 
	 .wrap > main > .allproducts {margin:50px 0px;}

	 .wrap > main > .polo > div { width:72.030879%; top:66.024518%;/* 377/571 */ left:16.011236%; /* 114/712 */ }
	 .wrap > main > .polo > div > h3 {font-size:20px;}

	 .wrap > main > .delivery {
		 border:px solid black; text-align: center; height:232px; font-size:0;padding:0; margin:0 16.627078%;/* 280/1684 */ ;
		 
		}
	.wrap > main > .delivery > li {border:px solid green; width:50%; }

	.wrap > main > .delivery > li:nth-child(3),.wrap > main > .delivery > li:nth-child(4) {margin-top:10%}
	.wrap > main > .delivery > li + li {margin-left:0; /* 420/1684 */}


	.wrap > main > .delivery > li > a {display:block; position:relative;}
	.wrap > main > .delivery > li > a > img {border:px solid blue; vertical-align:top;}
	.wrap > main > .delivery > li > a > span {
		border:px solid black; width:300%; margin-left:50%; position:absolute; bottom:0; top:100%; 
		padding-bottom:30px; font-size:13px; display:block; transform:translateX(-50%);
	}
	.wrap > footer > .footer_gray > .footer_menu {border:1px solid black; top:268px; }
}